body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: black;
    color: white;
  }
  
  div {
    margin-bottom: 20px;
    background-color: #222;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    margin-bottom: 10px;
    color: white;
  }
  
  input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 200px;
    color: black;
  }
  
  button {
    padding: 10px 15px;
    background-color: #00b3b3; /* Darker aqua color */
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #009999; /* Slightly darker shade of aqua for hover */
  }
  
  
  
  #accounts {
    font-weight: bold;
  }
  
  #events {
    border: 1px solid #ccc;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
    background-color: #f9f9f9;
    color: black;
  }
  
  h1 {
    text-align: center;
    color: white;
    background-color: #222;
    padding: 20px;
    margin: 0;
  }